@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,400italic);
.container {
  overflow: hidden;
  position: relative;
  height: 75vh;
}

.earthImage {
  position: absolute;
  width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  background: url("https://images.unsplash.com/photo-1564053489984-317bbd824340?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1496&q=80")
    no-repeat left center / cover;
}
.title {
  margin: 0;
  padding: 0;
  pointer-events: none;
  white-space: nowrap;
  font-family: "Lobster Two", cursive;
  font-style: italic;
  z-index: 9;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
